body{
  background-color: #B3C8CF;
  color: #314f58;
}

::selection {
  background: #314f58; /* Background color for the selected text */
  color: #F1F0E8; /* Text color for the selected text */
}

.App {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

input {
  font-family: "SF Pro";
  /* max-width: 190px; */
  padding: 0.875rem;
  background-color: #F1F0E8;
  font-size: 1rem;
  border: 1.5px solid #000;
  border-radius: 0.5rem;
  box-shadow: 2.5px 3px 0 #000;
  outline: none;
  transition: ease 0.25s;
}

input:focus {
  box-shadow: 5.5px 7px 0 black;
}

.heading{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90px;
  margin-bottom: 30px;
 max-width: 600px;
}

h1{
  color: #9f133a;
  margin: 0;
  font-family:   'Trebuchet MS';
  font-size: 25px
}
img{
  width: 200px;
}

input, textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #F1F0E8;
}

/* button {
  padding: 10px 20px;
  background-color: #314f58;
  color: #F1F0E8;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #F1F0E8;
  color: #314f58;
  transition: 0.2s ease-in;
} */


/* From Uiverse.io by Deri-Kurniawan */ 
.button {
  position: relative;
  padding: 6px 16px;
  font-family: "Trebuchet MS";
  margin-top: 10px;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  color: #F1F0E8;
  background-color: #314f58;
  border: none;
  border-radius: 50px;
  overflow: hidden;
  z-index: 1;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.button:hover {
  transform: scale(1.05);
  color: #314f58;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.button:active {
  transform: scale(0.9);
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #F1F0E8, #F1F0E8);
  transition: all 0.4s ease-in-out;
  z-index: -1;
  border-radius: 5px;
}

.button:hover::before {
  right: 0;
}


.footer p {
  margin-top: 50px;
  font-size: 10px;
}


@media screen and (max-width: 480px) {
  .heading{
    margin-bottom: 15px;
  }
  h1 {
    font-size: 20px;
  }
  img{
    width: 150px;
  }
  input{
    width: 325px;
  }
}
